<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="pragram" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache, must-revalidate">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="css/sweetalert.css">
    <link rel="stylesheet" href="css/jqPaginator.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <title>48路家居网</title>
</head>
<body ng-app="index" ng-controller="index" ng-class="{'nav-scroll':isScroll}">
    <header class="pc-index" ng-class="{'nav-fixed':isScroll}">
        <div class="container">
            <div id="logo" class="pull-left" ng-click="returnIndex()">
                <a href=""><img  src="img/index/logo.png" alt="logo" ></a>
            </div>
            <ul id="pc-nav" class="nav nav-pills pull-right" ng-init="show = 1">
                <li role="presentation" class="pc-nav-li"><a ng-click="show = 1" ui-sref="index" ng-class="{'pc-title-active':show == 1}" >首页</a></li>
                <li role="presentation" class="pc-nav-li"><a ng-click="show = 2" ui-sref="brande" ng-class="{'pc-title-active':show == 2}">入驻品牌</a></li>
                <li role="presentation" class="pc-nav-li"><a ng-click="show = 3" ui-sref="shop" ng-class="{'pc-title-active':show == 3}">门店分布</a></li>
                <li role="presentation" class="pc-nav-li"><a ng-click="show = 4" ui-sref="news" ng-class="{'pc-title-active':show == 4}">新闻动态</a></li>
                <li role="presentation" class="pc-nav-li pc-nav-type">
                    <a ui-sref="info({'id':1})" ng-class="{'pc-title-active':show ==11 || show == 12 || show == 13 || show == 14 }">关于我们</a>
                    <div class="pc-kind-class">
                        <div ui-sref="info({'id':1})" ng-click="show = 11" ng-class="{'pc-FF': show == 11}">公司简介</div>
                        <div ui-sref="info({'id':2})" ng-click="show = 12" ng-class="{'pc-FF': show == 12}">资源下载</div>
                        <div ui-sref="info({'id':3})" ng-click="show = 13" ng-class="{'pc-FF': show == 13}">视频资源</div>
                        <div ui-sref="info({'id':4})" ng-click="show = 14" ng-class="{'pc-FF': show == 14}">领导团队</div>
                    </div>
                </li>
                <li role="presentation" class="pc-nav-li" ng-click="show = 6"><a  ui-sref="contact" ng-class="{'pc-title-active':show == 6}">联系我们</a></li>
            </ul>
        </div>
    </header>
    <ui-view></ui-view>
    <footer>
        <ul class="container">
            <li class="col-xs-4 pc-center">
                <div class="pc-inline pc-text-left">
                    <p class="pc-text-fff pc-font-20">联系我们</p>
                    <p class="pc-text-fff">全国咨询热线：400-1684-848</p>
                    <p class="pc-text-fff">全国加盟热线：400-1684-848</p>
                    <p class="pc-text-fff">快速投诉通道：400-1684-848</p>
                    <button>在线咨询客服</button>
                </div>
            </li>
            <li class="col-xs-4 pc-center">
                <div class="pc-inline pc-text-left">
                    <p class="pc-text-fff pc-font-20">商务合作</p>
                    <p class="pc-text-fff">经销商</p>
                    <p class="pc-text-fff">TEL：400-1684-848</p>
                    <p class="pc-text-fff">EMAIL：service@48lu.cn</p>
                    <p class="pc-text-fff">品牌厂商</p>
                    <p class="pc-text-fff">TEL：400-1684-848</p>
                    <p class="pc-text-fff">EMAIL：service@48lu.cn</p>
                </div>
            </li>
            <li class="col-xs-4 pc-center">
                <div class="pc-inline pc-text-left">
                    <p class="pc-text-fff pc-font-20">关注公众号</p>
                    <img src="img/index/2wm.png" class="pc-2wm" alt="">
                </div>
            </li>
        </ul>
        <div id="footer-line"></div>
        <div class="pc-footer">
            <p class="pc-center pc-text-fff">公司地址：浙江省杭州市余杭区临平大道633号11幢11楼 邮箱：mail@48lu.cn</p>
            <p class="pc-center pc-text-fff">Copyright 2016. All Rights Reserved by 48lu.cn 浙江思发路网络科技有限公司版权所有</p>
        </div>
    </footer>
</body>
<script src="js/jquery/jquery.min.js"></script>
<script src="js/jqPaginator.js"></script>
<script src="js/sweetalert.min.js"></script>
<script src="https://webapi.amap.com/maps?v=1.4.0&key=abf2b393ef072ecab1e7322d97ffc258&plugin=AMap.Driving"></script>
<script src="js/swiper/swiper.min.js"></script>
<script src="js/swiper/swiper.animate.min.js"></script>
<script src="js/angular/angular.min.js"></script>
<script src="js/angular/angular-ui-router.min.js"></script>
<script src="js/qrcode.min.js"></script>
<script>
    var api_EndPoint = "https://osmapi.48lu.cn/";       // 正式api域名：osmapi.48lu.cn   ip：11111
    //var api_EndPoint = "https://osmapi-alpha.48lu.cn/";     // 测试api域名：osmapi-alpha.48lu.cn   ip：11112

    /*路由配置 开始*/
    var app = angular.module('index',["ui.router"]);
    app.config(function ($stateProvider,$urlRouterProvider) {
        $urlRouterProvider.when("","/index");
        $stateProvider.state("index",{
            url:'/index',
            controller:'mainController',
            templateUrl:'html/48lu_index.html',
            resolve:{
                loadOCjs:function(){}
            }
        }).state("brande",{
            url:'/brande',
            controller:'brandeController',
            templateUrl:'html/brande.html',
            resolve:{
                loadOCjs:function(){}
            }
        }).state("shop",{
            url:'/shop',
            controller:'shopController',
            templateUrl:'html/shopLocation.html',
            resolve:{
                loadOCjs:function(){}
            }
        }).state("news",{
            url:'/news',
            controller:'newsController',
            templateUrl:'html/news.html',
            resolve:{
                loadOCjs:function(){}
            }
        }).state("info",{
            url:'/info?id',
            controller:'infoController',
            templateUrl:'html/information.html',
            resolve:{
                loadOCjs:function(){}
            }
        }).state("contact",{
            url:'/contact',
            controller:'contactController',
            templateUrl:'html/contact-us.html',
            resolve:{
                loadOCjs:function(){}
            }
        }).state("detail",{
            url:'/detail?id',
            controller:'detailController',
            templateUrl:'html/brande-detail.html',
            resolve:{
                loadOCjs:function(){}
            }
        });
    });
    /*路由配置 结束*/
    app.directive('uiBanner',function ($timeout) {
        return {
            restrict :'A',
            link:function(scope, iElement, iAttrs){
                if(scope.bannerImgs.length == 1){
                    $('.swiper-pagination').hide();
                }
                scope.bannerImgs.forEach(function(val,index){
                    var string = '<div class="swiper-slide" ><a><img src="'+ val + '"></a></div>';
                    $('.swiper-wrapper').append(string);
                });
                if(iAttrs.uiType == 1){
                    var swiper = new Swiper('.swiper-container', {
                        pagination: '.swiper-pagination',
                        paginationClickable: true,
                        speed:1500,
                        autoplay : 1000,
                        onSlideChangeStart: function(swiper){
                            $timeout(function(){
                                scope.activeIndex = swiper.activeIndex;
                            },0);
                        },
                        autoplayDisableOnInteraction : false
                    });
                    scope.transToBanner = function(index){
                        swiper.slideTo(index);
                    }
                }else{
                    var swiper = new Swiper('.swiper-container', {
                        pagination: '.swiper-pagination',
                        paginationClickable: true,
                        speed:1500,
                        autoplay : 1000,
                        autoplayDisableOnInteraction : false
                    });
                }
            }
        }
    });
    app.directive('uiText',function () {
        return {
            restrict :'A',
            link:function(scope, iElement, iAttrs){
               if(iElement[0].innerText.length > 90){
                   iElement[0].innerText = iElement[0].innerText.substring(0,85) + '......';
               }
            }
        }
    });
    app.controller('index',function($scope,$state){
        $scope.returnIndex = function(){
            $state.go('index');
            $scope.show = 1;
        };
        $(window).scroll(function () {
            if(document.documentElement.scrollTop > 150){
                $scope.$apply(function(){
                    $scope.isScroll = true;
                });
            }else{
                $scope.$apply(function(){
                    $scope.isScroll = false;
                });
            }
        });
    });
    /*--------------------------------------------------------------首页------------------------------------------------------*/
    app.controller('mainController',function($scope){
        document.documentElement.scrollTop = 0;
        $scope.$parent.show = 1;
        $scope.bannerImgs = ["img/index/banner.png","img/index/banner.png"];
    });

    /*--------------------------------------------------------------入驻品牌------------------------------------------------------*/
    app.controller('brandeController',function($scope,$state){
        document.documentElement.scrollTop = 0;
        $scope.$parent.show = 2;
        $scope.submitInfo = function(){
            if($scope.name == '' || $scope.name == undefined || $scope.name == null){
                swal('请输入品牌名称','','warning');
                return ;
            }
            if($scope.phone == '' || $scope.phone == undefined || $scope.phone == null ){
                swal('请输入手机号码','','warning');
                return ;
            }
            if(!/^[1][3,4,5,7,8][0-9]{9}$/.test($scope.phone)){
                swal('请输入有效的手机号码','','warning');
                return ;
            }
            if($scope.emial == '' || $scope.emial == undefined || $scope.emial == null){
                swal('请输入邮箱地址','','warning');
                return ;
            }
            if(! /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/.test($scope.emial)){
                swal('请输入有效邮箱地址','','warning');
                return ;
            }
        };
        $scope.showDetail = function (id) {
            $state.go('detail',{id:id});
        };
    });
    /* ----------------------------------------------------------------   品牌详情   ----------------------------------------------*/
    app.controller('detailController',function($scope,$stateParams,$state){
        document.documentElement.scrollTop = 0;
        $scope.$parent.show = 2;
        $scope.showAllBrand = function () {
            $state.go('brande');
        };
    });

    /*--------------------------------------------------------------门店分布------------------------------------------------------*/
    app.controller('shopController',function($scope,$http){
        document.documentElement.scrollTop = 0;
        $scope.$parent.show = 3;
        $scope.map = new AMap.Map('allmap', {
            resizeEnable: true
        });
        $scope.getAllShops = function() {
            $http.get(api_EndPoint + "businessInfo/queryAll").then(function (response) {
                if (response.status == 200) {
                    if (response.data.code == 0) {
                        console.log(response);
                        response.data.data.forEach(function(val,index){
                            if(val.longitude == null || val.latitude == null){
                                return ;
                            }
                            coverOperate($scope.map,val.longitude,val.latitude,val.name);
                        });
                    }
                }
            });
        };
        $scope.getAllShops();
        $scope.hideInfo = function(){
          angular.element(".map-show").hide();
        };
        function coverOperate(map,lang,lat,name) {
            var marker = new AMap.Marker({});
            marker.on('click', function(e) {
                window.qrcode = new QRCode(document.getElementById('qrcode'),{});
                angular.element('.map-show').show();
                var url = 'https://jfv2-alpha.48lu.cn/statics/pc/html/location.html?lang=' + lang + "&lat=" + lat;
                qrcode.makeCode(url);
            });
            marker.setMap(map);
            var markerContent = document.createElement("div");
            markerContent.className="markWrap";
            var markerImg = document.createElement("img");
            markerImg.className = "markerlnglat";
            markerImg.src = "img/48.png";
            markerContent.appendChild(markerImg);
            var markerSpan = document.createElement("span");
            markerSpan.className = 'marker';
            markerSpan.innerHTML = name;
            markerContent.appendChild(markerSpan);
            marker.setContent(markerContent);
            marker.setPosition([lang,lat]);
        };
    });

    /*--------------------------------------------------------------动态新闻------------------------------------------------------*/
    app.controller('newsController',function($scope){
        document.documentElement.scrollTop = 0;
        $scope.$parent.show = 4;
        $scope.bannerImgs = ["img/Mask.png","img/Mask.png","img/Mask.png","img/Mask.png"];
        $.jqPaginator('#pagination', {
            totalPages:10 ,
            visiblePages:5,
            pagesize:10,
            onPageChange: function (index) {
                console.log(index + "dd");
            }
        });
    });

    /*--------------------------------------------------------------关于我们------------------------------------------------------*/
    app.controller('infoController',function($scope,$stateParams,$state){
        document.documentElement.scrollTop = 0;
        if($stateParams.id == 1){
            $scope.$parent.show = 11;
        }else if($stateParams.id == 2){
            $scope.$parent.show = 12;
        }else if($stateParams.id == 3){
            $scope.$parent.show = 13;
        }else if($stateParams.id == 4){
            $scope.$parent.show = 14;
        }
        $scope.pageTransto = function(num){
            $state.go('info',{id:num});
        };
        $scope.videoUrl = 'video/1.mp4';
        $scope.videoArr = [{img:'img/index/banner.png'},{img:'img/information/banner.png'},{img:'img/brande/banner.png'},{img:'img/information/resource.png'}];
        $scope.tansToPlay = function(index){
            var video1 = $scope.videoArr[index];
            var video2 = $scope.videoArr[0];
            $scope.videoArr.splice(index,1);
            $scope.videoArr.splice(0,1);
            $scope.videoArr.unshift(video1);
            $scope.videoArr.push(video2);
            if(index == 1){
                $scope.videoUrl = 'video/1.mp4';
            }else{
                $scope.videoUrl = 'video/1.mp4';
            }
        };
        console.log($('video'));
    });
    /*--------------------------------------------------------------联系我们------------------------------------------------------*/
    app.controller('contactController',function($scope){
        document.documentElement.scrollTop = 0;
        $scope.$parent.show = 6;
    });
</script>
</html>